.alfa-bank-header{
    display:flex;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
}
.left-side{
    background-color: red;
    
    width:600px;
}
.right-side-bottom{
    background-color: gray;
    padding-top: 0px;
    margin-top: 0px;
    height: 250px;
   font-family: 'Work Sans', sans-serif;
   font-size: 14px;
	line-height: 24px;

}
.right-side-footer{
    padding-top: 0px;
    margin-top: 0px;
    background-color: black;
    height: 250px;
}
.right-side {
    width:600px;
    padding-top: 0px;
    margin-top: 0px;    
}
.text-on-black-background{
    color:cornsilk
}